<h1>Vacancy count by specialization</h1>

<div>
  <canvas id="allSpecializationsChart"></canvas>
</div>

<% if @count %>
  <% c = [151,87,205].shuffle! %>
  <%= javascript_tag do %>
    var data = {
      labels : [<%= @specializations.html_safe %>],
      datasets : [
        {
          fillColor : "rgba(<%= c[0] %>, <%= c[1] %>, <%= c[2] %>,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          data : [<%= @count %>]
        }
      ]
    }
    var ctx = $("#allSpecializationsChart").get(0).getContext("2d")
    ctx.canvas.width  = window.innerWidth - 100;
    ctx.canvas.height = window.innerHeight - 150;
    var chart = new Chart(ctx).Bar(data);
  <% end %>
<% else %>
  <div>No data for this period</div>
<% end %>