<% if @values && @labels %>
  <% 
    chart_type ||= 'column'
    line_hight = @values.size < 10 ? 50 : 35
    chart_height ||= "#{line_hight*@values.size}px"
  %>

  <div id="container" style="width:100%; height:<%= chart_height %>;"></div>
  

  <%= javascript_tag do %>
        $('#container').highcharts({
            chart: {
              type: '<%= chart_type %>'
            },
            title: {
              text: '<%= header %>',
              style: { fontSize: '18px' }
            },
            xAxis: {
              categories: <%= @labels.inspect.html_safe %>,
              labels: { style: { fontSize: '14px' } }   
            },
            yAxis: {
              title: {
                  text: '<%= label %>',
                  style: { fontSize: '16px' }
              },
              labels: { style: { fontSize: '14px' } }   
            },
            series: [{
              name: '<%= label %>',
              data: <%= @values.inspect.html_safe %>
            }],                    
        });
  <% end %>
<% else %>
  <div class='text-center'>
    <h3><%= header %></h3>
    <div class='alert-danger'>
      <p>Нет данных</p>
    </div>
  </div>
<% end %>