<h1>Weclome to hhstat</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= link_to "Vacancy count by month in", :controller => "stat", :action => "count_by_month_in", :year => Date.today.year %>
    <br />
    <%= link_to "Salary distribution", :controller => "stat", :action => "salary_distribution_in", :year => Date.today.year %>
    <br/>
    <%= link_to "Vacancy count by year", :controller => "stat", :action => "count_by_year" %>
    <br/>
    <%= link_to "Vacancy count by month", :controller => "stat", :action => "count_by_month" %>
    <br/>
    <%= link_to "Vacancy count by specialization", :controller => "stat", :action => "count_by_specialization" %>
    <br/>
    <%= link_to "Vacancy count by class", :controller => "stat", :action => "count_by_class" %>
    <br/>
  </tbody>
</table>

<br>