<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><h4>Количество вакансий</h4></li>
      <li><%= link_to "По годам", :controller => "/stat", :action => "count_by_year"  %></li>
      <li><%= link_to "По месяцам", :controller => "/stat", :action => "count_by_month" %></li>
      <li><%= link_to "По месяцам в году", :controller => "/stat", :action => "count_by_month_in", :year => Date.today.year %></li>
      <li><%= link_to "По специализации", :controller => "/stat", :action => "count_by_specialization" %></li>
      <li><%= link_to "Исходные данные", :controller => "/stat", :action => "count_by_class" %></li>
    </ul>
        
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><h4>Распределение зарплат</h4></li>
      <li><%= link_to "По годам", :controller => "/stat" , :action => "salary_distribution_in", :year => Date.today.year  %></li>
    </ul> 
  </tbody>
</table>